@import url(../../global.scss);

.home-target-showcase-element-prototype {
    text-align: center;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-target-showcase-element-prototype_container {
    display: flex;
    flex-direction: row;
    margin: 6px 7%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.home-target-showcase-element-prototype_container a {
    margin: 5px;
   transition: all 0.4s ease-out;
   border-radius: 0;
   background-size: contain;
   height: 300px;
   background-position: center;
   width: 400px;
   cursor: pointer;
   text-decoration: none;
}
.home-target-showcase-element-prototype_container_item {
   margin: 5px;
   transition: all 0.4s ease-out;
   border-radius: 0;
   background-size: contain;
   height: 300px;
   background-position: center;
   width: 400px;
   cursor: pointer;
}
.home-target-showcase-element-prototype_container_item:hover {
   transition: all 0.4s ease-out;
   transform: scale(1.02);
   border-radius: 10px;
   -webkit-backdrop-filter: blur(5px);
   backdrop-filter: blur(5px);
}
.home-target-showcase-element-prototype_container_item h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Author-Font-Family-UI-component-prototype-bold-target ;
    padding: 10px;
    height: 90%;
    width: 90%;
    font-size: calc(10px + 3vmin);
}
.first-showcase-content {
    font-size: 40px;
    margin-top: 5vh;
}
.cards-target-showcase-element-prototype_container {
    display: flex;
    flex-direction: row;
    margin: 6px 7%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card-target-showcase-element-prototype_container_item {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    transition: all 0.4s ease-out;
    cursor: pointer;
    height: auto;
    width: 400px;
    overflow: hidden;
    align-items: center;
}
.card-target-showcase-element-prototype_container_item:hover img {
    transition: all 0.4s ease-out;
    transform: scale(1.05);
    overflow: hidden;
    transition: all 0.4s ease-out;
}
.card-target-showcase-element-prototype_container_item div {
    height: 40%;
}
.card-target-showcase-element-prototype_container_item img {
    width: 100%;
    transition: all 0.4s ease-out;
    object-fit: contain;
    overflow-y: hidden;
    overflow-x: hidden;
    overflow: hidden;
}
.card-target-showcase-element-prototype_container_item-bottom {
    padding: 20px;
}
.coming-warning-content {
    font-size: 25px;
    margin: 0;
}
.bottom-showcase-content-second {
    font-family: 'Poppins', sans-serif;
}
.bottom-showcase-content-second:hover {
    text-decoration: underline;
}
@media only screen and (max-width: 768px) {
    .home-target-showcase-element-prototype_container {
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .home-target-showcase-element-prototype_container_item h1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: Author-Font-Family-UI-component-prototype-bold-target ;
        padding: 10px;
        height: 77%;
        width: 90%;
        font-size: calc(10px + 7vmin);
    }
    .home-target-showcase-element-prototype_container a {
        margin: 5px;
       transition: all 0.4s ease-out;
       border-radius: 0;
       background-size: contain;
       height: 300px;
       background-position: center;
       width: 350px;
       cursor: none;
       text-decoration: none;
    }
    .home-target-showcase-element-prototype_container_item {
        margin: 0;
        transition: all 0.4s ease-out;
        border-radius: 0;
        overflow: hidden;
        background-size: contain;
        height: 300px;
        background-position: center;
        width: 100%;
        cursor: none;
     }
     .cards-target-showcase-element-prototype_container {
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .card-target-showcase-element-prototype_container_item {
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 5px;
        transition: all 0.4s ease-out;
        cursor: none;
        height: auto;
        width: 90%;
        overflow: hidden;
        align-items: center;
    }
    .card-target-showcase-element-prototype_container_item:hover img {
        transition: all 0.4s ease-out;
        transform: none;
        overflow: hidden;
        pointer-events: none;
        transition: all 0.4s ease-out;
    }
    .card-target-showcase-element-prototype_container_item div {
        height: 40%;
    }
    .card-target-showcase-element-prototype_container_item h1  {
        font-size: 26px;
    }
    .card-target-showcase-element-prototype_container_item h3  {
        font-size: 23px;
    }
    .bottom-showcase-content-second {
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        cursor: none;
    }
    .first-showcase-content {
        font-size: 35px;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
}